.fleft {
    float: left;
}

.fright {
    float: right;
}

#modal .media-object-section {
    padding-right: 1rem;
}
#modal .list-card {
    max-width:150px;
}

#modal .button-panel {
    padding-top: 1em;
}

#modal .mv-button-panel {
    padding-left: 1em;
}

#modal .card-img {
    border-radius: .6em;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    -khtml-border-radius: .6em;
}

#modal .selected img {
    border: 2px solid #466d98;
}

#chat_log {
    overflow: scroll;
    overflow-y: scroll;
    border: solid 1px #121212;
    height: 150px;
}

#about_link {
    color: #7a7a7a;
}
