.fleft {
    float: left;
}

.fright {
    float: right;
}

#modal .media-object-section {
    padding-right: 1rem;
}
#modal .list-card {
    max-width:150px;
}

#modal .button-panel {
    padding-top: 1em;
}

#modal .selected img {
    border: 2px solid #466d98;
}

#chat_log {
    overflow: scroll;
    overflow-y: scroll;
    border: solid 1px #121212;
    height: 150px;
}
